@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#FFE55C]/40 hover:text-[#FFE55C]/40;
  }
  .sectionHeading {
    @apply mb-4 uppercase tracking-[20px] text-gray-500 text-2xl text-center;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
  }
  .skill-size {
    @apply w-16 h-16 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 scale-50;
  }

  .skillIcon {
    @apply border border-gray-500 w-full h-full rounded-3xl object-scale-down  filter group-hover:grayscale transition duration-300 ease-in-out;
  }
  .projectTools {
    @apply [&>*]:w-8 [&>*]:h-8 md:[&>*]:w-10 md:[&>*]:h-10 lg:[&>*]:w-12 lg:[&>*]:h-12 [&>*]:object-contain;
  }
}
.phonetic-name {
  display: none;
}
.name-hover:hover + .phonetic-name {
  display: inline-block;
}
